<% #provide(:title, "You reached the home page, YIPPIE!") %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1>Hello World!</h1>
      <p>Welcome to Commited, coded with love by the Ruby-Monday group.</p>
    </div>
  </div>
</div>
