# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 16842fa75ba34a0cf36b3d022f2fbb38c7f098115cbb5cf2e098b8a72b31a7124a07a0a14127c8af6570d9a76618f5268614b5979255dbd7b6bef2205a95b0b1

test:
  secret_key_base: 4c1d4d52b4ff40ed9c764e87407ff5f05ce82becbb33ac0aa963c526122ae3031ef940825b206525b807407b4c4fc6de3221396332f565e950a1946f9802ca82

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
