<h1>All Achievements</h1>

<div class="row">
  <div class="col-xs-12">
    <% @achievements.each do |achievement| %>
      <p><%= link_to(achievement.title, achievement) %></p>
      <p><%= achievement.description %></p>
      <p><strong>Points: </strong><%= achievement.points %></p>
    <% end %>
  </div>
</div>


